@model Shoes.Models.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Nuevo", "Products", FormMethod.Post))
{


<div class="row">
    <div class="col-md-12">
        <div>
            @Html.LabelFor(d => d.Id)
            @Html.TextBoxFor(d => d.Id, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Id, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.IdType)
            @Html.TextBoxFor(d => d.IdType, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IdType, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.IdColor)
            @Html.TextBoxFor(d => d.IdColor, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IdColor, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.IdBrand)
            @Html.TextBoxFor(d => d.IdBrand, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IdBrand, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.IdProvider)
            @Html.TextBoxFor(d => d.IdProvider, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IdProvider, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.IdCatalog)
            @Html.TextBoxFor(d => d.IdCatalog, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IdCatalog, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.Title)
            @Html.TextBoxFor(d => d.Title, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Title, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })

        </div>
        <div>
            @Html.LabelFor(d => d.Description)
            @Html.TextBoxFor(d => d.Description, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Description, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.Observations)
            @Html.TextBoxFor(d => d.Observations, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Observations, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.PriceDistributor)
            @Html.TextBoxFor(d => d.PriceDistributor, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.PriceDistributor, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.PriceClient)
            @Html.TextBoxFor(d => d.PriceClient, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.PriceClient, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.PriceMember)
            @Html.TextBoxFor(d => d.PriceMember, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.PriceMember, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.IsEnabled)
            @Html.EditorFor(d => d.IsEnabled, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IsEnabled, null, new { @class = "red" })
           
        </div>
        <div>
            @Html.LabelFor(d => d.Keywords)
            @Html.TextBoxFor(d => d.Keywords, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Keywords, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.DateUpdate)<br />
            @Html.EditorFor(d => d.DateUpdate, " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.DateUpdate, null, new { @class = "red" })
        </div>
        <br />
        <div style="text-align:right;">
            <input value="Guardar" class="btn btn-primary" type="submit" />
        </div>
    </div>



</div>
}
